# Enable RewriteEngine
RewriteEngine On

# Serve static files directly if they exist
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Redirect all other requests to /dist/index.html
RewriteRule ^ /dist/index.html [L]
